html, body {
    margin: 0px;
    padding: 0;
    height: 200vh;
    background: linear-gradient(150deg, #d67272, #9f25a3);
}

.wrapper, title
{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-1 .3s ease-in-out infinite alternate;
}


@keyframes neon-1 {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(191, 226, 255, 0.58), 0 0 22px rgba(191, 226, 255, 0.84), 0 0 38px rgba(191, 226, 255, 0.88), 0 0 60px #FFF;
    }
}
  